html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-size: 1.3em;
  color: #000;
  background-color: #EDEDE4;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: default;
  height: 100%;
}

#fi {
  color: #EDEDE4;
  color: #F74906;
  color: #554E44;
  color: #fffff;
}

header {
  display: flex;
  justify-content: center;
}

#mainNav {
  display: flex;
  height: 80px;
  background-color: #EDEDE4;
  opacity: .6;
  transition: opacity .7s ease-out;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#mainNav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
}

#mainNav li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#mainNav a {
  text-decoration: none;
}

#mainNav a:hover {
  padding-top: 15px;
  border-top: solid 3px #746e65;
}

a:link, a::after, a::before, a:visited {
  color: #746e65;
}

main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#welcome_panel {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
  flex-basis: 0;
}

.page_panel {
  position: relative;
  flex-grow: 1;
  height: auto;
  margin-bottom: 5%;
}

.notfirst {
  border-top: solid 2px #D8D2C8;
  width: 70%;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#coverPhoto {
  display: flex;
  background-image: url(../images/coverPhoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.icon {
  height: 200px;
  width: 200px;
}

#mainNav:hover {
  opacity: .8;
}

.siteInfo {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #554E44;
  flex-direction: column;
}

.info a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.video {
  padding: 10px 10px 10px 10px;
}

.youtube-player {
  height: 315px;
  width: 420px;
}
