body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-size: 1.3em;
  color: #fff;
  background-image: url(../images/background3.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

#mainNav {
  display: flex;
  height: 80px;
  background-color: #000;
  opacity: .6;
}

#mainNav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style-type: none;
  width: 60%;
}

#mainNav li {
  flex-grow: 1;
}

#mainNav a {
  text-decoration: none;
}

a:link, a::after, a::before, a:visited {
  color: #fff;
}

body, html {
  margin: 0;
  height: 100%;
}

main {
  margin: 0;
  height: 100%;
}

#welcome_panel {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: row;
  flex-basis: 0;
}

.page_panel {
  flex-grow: 1;
  height: 70%;
}

#left_page_panel_back {
  background-color: #fff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

#right_page_panel {
  flex-grow: 2;
}

#mainNav:hover {
  opacity: .8;
}

@media screen and (min-device-width: 900px) {
  #left_page_panel_back {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 45%;
    margin-left: 5%;
    height: 75px;
    border-radius: 15px;
    font-size: .7em;
    justify-content: center;
    align-items: center;
  }
  #left_page_panel_back>h2 {
    margin: 0;
    font-size: 2.8em;
    font-family: 'Archivo Narrow';
    color: #000;
  }
}

;
